.reserva {
  background-image: url("../img/2.jpg");
    background-size: cover;
    background-position: center;
}
.titulo {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    background-color: rgba(75, 30, 13, 0.7);
}
#Form_reserva {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
#bienvenida{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
    color: #4b1e0d;
    font-weight: bold;
}
#Form_reserva label {
  font-size: 1.2rem;
  color: #4b1e0d;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}
#Form_reserva input[type="text"],
#Form_reserva input[type="email"],
#Form_reserva input[type="tel"],
#Form_reserva input[type="date"],
#Form_reserva input[type="time"],
#Form_reserva input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: box-shadow 0.3s ease;
}

#Form_reserva input:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(75, 30, 13, 0.6);
  border-color: #4b1e0d;
}
.reserva_form {
    margin-bottom: 25px;
}

#Form_reserva select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  font-weight: bold;
  border-radius: 8px;
  background-color: #f3955e;
  color: #333;
  margin-bottom: 15px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: center;
  background-size: 1.5em;
  padding-right: 2.5em;
  transition: box-shadow 0.3s ease;
}

#Form_reserva select:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(75, 30, 13, 0.6);
  border-color: #4b1e0d;
}
#info {
  font-size: 1.2rem;
  color: #000000;
  margin-top: 20px;
  text-align: left;
  font-weight: bold;
    
}
#Form_reserva textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical; /* Permite al usuario cambiar el alto si lo desea */
  background-color: #fff;
  color: #333;
  margin-bottom: 15px;
  transition: box-shadow 0.3s ease;
  resize: none;
}

#Form_reserva textarea:focus {
  outline: none;
  border-color: #4b1e0d;
  box-shadow: 0 0 8px rgba(75, 30, 13, 0.6);
}

@media screen and (max-width: 600px) {
  #Form_reserva {
    padding: 15px;
  }

  .titulo {
    font-size: 2rem;
  }

  #bienvenida {
    font-size: 1.2rem;
  }

  .reserva_form {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
