   h1 {
      font-family: 'Playfair Display', serif;
      text-align: center;
      font-size: 3rem;
      margin-top: 40px;
      margin-left: 40px;
    }
    main h1 {
  max-width: 1200px;
  margin: 40px auto 20px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}


    .gallery-grid {
      max-width: 1200px;
      margin: 40px auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      padding: 0 20px;
    }

    .gallery-grid img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }

    .gallery-grid img:hover {
      transform: scale(1.05);
    }
